@font-face { 
    font-family: "Suisse Int'l Semibold"; 
    src: url("https://framerusercontent.com/assets/NZNod8irILbWmnqW9EFqblG4zI.woff2"); 
    font-display: swap 
}

@font-face { 
    font-family: "Suisse Int'l Semibold"; 
    src: url("https://framerusercontent.com/assets/NZNod8irILbWmnqW9EFqblG4zI.woff2"); 
    font-display: swap; 
    font-style: normal; 
    font-weight: 600 
}

@font-face { 
    font-family: "Uncut Plan8 Regular"; 
    src: url("https://www.zsobix.xyz/fonts/UncutPlan8-Regular.woff2"); 
    font-display: swap 
}

body {
    font-family: "Suisse Int'l Semibold", sans-serif;
    background-color: white;
    margin: 0;
}
h1 {
    color: hsl(0, 0%, 8%);
    font-size: 50px;
}
h4 {
    font-family: "Uncut Plan8 Regular", sans-serif; 
    color: hsl(0, 0%, 8%);;
}
.inline {
    display: inline;
}